div.child{
    width: 100px;
    height: 100px;
    background-color: aqua;
}
div.child:hover{
    background-color: green;
}
input:focus{
    background-color: orange !important;
}
div::selection{
    /*when ever we select a element it will highlited with specific color*/
    color: brown;
}
li{
    list-style: none;
    font-size: 4rem;
    position: relative;
    width: 200px;
    display: inline-block;
}
/*li::before{/*before the element
    content: "before the element";we cant select this content
    color: blueviolet;
    font-size: 1rem;
}*/
li::after{/*after the element*/
    content: '';/*we cant select this content*/
    background-color: blueviolet;
    font-size: 1rem;
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    right: 10px;
    top: 30px;
}